<style>
  footer {
    padding: 1rem;
    text-align: center;
  }
</style>
<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink=""
  >
    <mat-icon>coffee</mat-icon>
  </button>
  <span>Assignment</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<footer>
  Developed By Peter Safwat |
  <a href="mailto:peterzaccha@outlook.com"> peterzaccha@outlook.com </a>
</footer>
