<style>
  .container {
    padding: 2rem;
  }

  .card-container {
    margin-bottom: 1rem;
    color: #ccc;
  }
  h1 {
    color: black;
  }
</style>
<div class="container">
  <div *ngIf="coffee" class="card-container">
    <h1>Found it "{{ coffee.blend_name }}"</h1>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{ coffee.blend_name }}</mat-card-subtitle>
        <mat-card-title>{{ coffee.variety }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Notes: {{ coffee.notes }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!coffee">
    <h1>
      Sorry we are dealing with random data, Try Going back and click View
    </h1>
  </div>
  <button routerLink="" mat-button mat-raised-button color="primary">
    Go back
  </button>
</div>
